* {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

h1 { 
    padding: .5em;
    text-align: center; 
    cursor: pointer;
}

h2 {
    cursor: pointer;
}

#map { 
    width: 700px;
    height: 500px;
    max-width: 100%;
    max-height: 90vh;
    box-sizing: border-box;
}

.mapContainer {
    display: flex;
    align-content: center;
    justify-content: center;
}

table {
    width: 95vw;
    border-collapse: collapse;
}

th {
    padding: 1em;
    border-bottom: 2px solid rgb(206, 206, 206);
}

th {
    cursor: pointer;
}

tr {
    border-top: 2px solid rgb(226, 226, 226);
}

td { 
    padding:.5em;
    text-align: center;
}

#resultat {
    padding: 1em;
    display: flex;
    align-content: center;
    justify-content: center;
}

button {
    background-color: rgb(35, 53, 151);
    padding: .5em;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

p {
    padding: .5em;
    margin: .2em;
}